apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

prune: true

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: prometheus_uid1
    url: http://prometheus:9090
    isDefault: true
    editable: true
